@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan-light: hsl(179, 62%, 65%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla";
}

body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-gray);
}

main {
  width: 700px;
  margin-bottom: 50px;
}

.community {
  background-color: white;
  padding: 40px;
  color: var(--grayish-blue);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.community h2 {
  color: var(--cyan);
}

.community h3 {
  color: var(--bright-yellow);
  margin: 20px 0px;
}

.community p {
  font-size: 18px;
}

.bottom {
  display: flex;
}

.us {
  width: 50%;
  background-color: var(--cyan-light);
  padding: 40px;
  color: white;
  border-bottom-right-radius: 7px;
}

.us h3 {
  margin-bottom: 20px;
}

.us p {
  width: 75%;
  line-height: 20px;
  font-size: 14px;
}

.subscription {
  width: 50%;
  background: var(--cyan);
  padding: 40px;
  color: white;
  border-bottom-left-radius: 7px;
}

.price {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.price span {
  color: var(--light-gray);
}

.subscription button {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  color: white;
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 750px) {
  main {
    width: 350px;
    margin: 30px;
  }
  .bottom {
    flex-direction: column;
  }
  .subscription {
    width: 100%;
    border-bottom-left-radius: 0px;
  }
  .us {
    width: 100%;
    border-bottom-left-radius: 5px;
  }
}
